<div class="app-card-container">
  <div class="card">

    <h1>About Us</h1>

    <div class="row">
      <div class="col-md-12">
        <p>A car dealership dedicated to provided quality vehicles at a reasonable price.  We specialize in vehicles built to last as well as handle Utah winters. Our family run dealership. Not only do we specialize in offering the finest hand-picked pre-owned vehicles but we on-site service them too. Our dedicated sales and service team are here to make your vehicle shopping experience fun, easy and financially advantageous. Drop by and check out our excellent newly renovated Story Motors Dealership and let us put you in your ideal car, truck or SUV today!


        We look forward to serving you soon!
        </p>
      </div>




    </div>
  </div>
</div>
